
<div class="controls saved-searches-controls">
  {{log tagSearch}}
  {{category-chooser 
    value=tagSearch.category
    onChange=(action "changeSelectedCategory")
    options=(hash allowAny=false)
  }}
{{tag-chooser
  tags=tagSearch.tag
  categoryId=tagSearch.category
  onChange=(action "changeSelectedTags")
  options=(hash
    allowAny=false
    maximum=1
  )
}}
</div>